* {
    font-family: 'Baloo Bhaijaan 2', cursive;
    background-color: lightblue;
}
.nav {
    display: flex;
    float: right;
    width: 55%;
    justify-content: space-evenly;
}
.navli {
    list-style-type: none;
    font-size: larger;
}
.image {
    padding-top: 8%;
}
.name {
    padding-left: 730px;
    margin-top: -280px;
}
.aboutme {
    padding-top: 8%;
}
.haboutme {
    text-align: center;
    font-size: 50px;
}
.paboutme {
    padding-left: 830px;
    margin-top :-280px ;
    font-weight: bolder;
    font-size: 20px;
}
.workexperience {
    padding-top: 18%;
    font-weight: bolder;
}
.work {
    margin-left: 800px;
    margin-top: -400px;
    font-weight: bolder;
    font-size: 20px;
}
.pr